body {
  background-image: linear-gradient(to right, #b0b1d3   0%, rgba(32, 91, 180, 0.781) 80%);
  }
h2{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .upper{
    background-image: radial-gradient(  rgb(139, 235, 126) 40%,#00f   );
    border-radius: 5px;
  }
  .upper:hover{
    border-color: #33df6c;
  }
  h1 {
    color: #050a49;
    text-align: center;
    font-family: "Arvo", cursive;
    font size: 100px;
  }
  
  footer {
    color: #012531; 
    font-family: sans-serif;
    text-align: center;
  }
  footer:hover{
   font-size: x-large;
  }

  
 
  
  .red {
    color: red;
  }

 
table .solution{
border: 2px;
}
button {
  outline: none;
  border: 10px solid #0e5cd1;
  font-size: 50px;
  font-family: 'Arvo'  ;
  line-height: 2;
  font-weight: 900;
  color: rgb(18, 41, 63);
 
  border-radius: 15px;
  display: inline;
  text-align: top;
  margin: 10px;
  background-image: linear-gradient(to right, rgb(43, 223, 214)   0%, rgb(126, 231, 235)80%);
  cursor: pointer;
}

 button:hover{
    outline: none;
    border: 10px solid #07ffd6;
    font-size: 50px;
    font-family: 'Arvo'  ;
    line-height: 2;
    font-weight: 900;
    color: rgb(102, 250, 134);
   
    border-radius: 15px;
    display: inline;
   
    text-align: top;
    margin: 10px;
    background-image: linear-gradient(to right, rgb(69, 77, 146)   0%, rgb(126, 155, 235) 80%);
    cursor: pointer;
  }

 #intro{
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   text-align: center;
 }
 #HCB_comment_box{
   width: 75%;
 }