body {
    background-color: pink;
 
  }
h2{
  color: rgb(4, 0, 255);
  }
  .upper{
    background-image: radial-gradient(  rgb(139, 235, 126) 40%,#00f   );
    border-radius: 5px;
  }
  .upper:hover{
    border-color: #33df6c;
  }
  h1 {
    color: #050a49;
    text-align: center;
    font-family: "Arvo", cursive;
    font size: 100px;
  }
  
  footer {
    color: #012531; 
    font-family: sans-serif;
    text-align: center;
  }
  footer:hover{
   font-size: x-large;
  }

  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }

 
table .solution{
border: 2px;
}


 button {
    outline: none;
    border: 10px solid #33df6c;
    font-size: 50px;
    font-family: 'Arvo'  ;
    line-height: 2;
    font-weight: 900;
    color: yellow;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline;
   
    text-align: top;
    margin: 10px;
    background-image: linear-gradient(to right, purple   0%, rgb(235, 126, 235) 80%);
    cursor: pointer;
  }
  button:hover {
    outline: none;
    border: 10px solid #33df6c;
    font-size: 50px;
    font-family: 'Arvo'  ;
    line-height: 2;
    font-weight: 900;
    color: yellow;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline;
    text-align: top;
    margin: 10px;
    background-image: linear-gradient(to right, rgba(43, 223, 43, 0.788)   0%, rgb(235, 215, 126) 80%);
    cursor: pointer;
  }
 