/* Fields */
 input {
   background-color: #eee; /* Fill color */
}
#fullbody{
  align-items: center;
  align-content: center;
  margin-left: 30%;
  margin-right: 50%;
  width: 40%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
#solution, #td ,#tr{
  border: 1px solid black;
}
.zoom:hover {
  transform: scale(1.5);
}
/* Button */
input {
   border-radius: 5px; /* Rounded button edges */
   width: 200px; /* Width and height must match */
   height: 30px;

}
body{
  background-color:pink;
}
table {
    table-layout: auto;
    border-radius: 2px;
    border-color: orange;
    text-align: center;
    width: 500px;
}
#button {
background-color: green;

}
#button:hover {
   background-color: orange;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   cursor: pointer;
   }
   #solution {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Lora',  sans-serif;
  }
  
  #solution td, #solution th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 200px;
  }
  
  #solution tr:nth-child(even){background-color: #f2f2f2;}
  #solution tr:nth-child(odd){background-color: #91a1b9;}
  
  #solution tr:hover {background-color: #ddd;}
  
  #solution th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  footer {
    color: #012531;
    font-family: sans-serif;
    text-align: center;
  }
  footer:hover{
   font-size: x-large;
  }